<% if (compiledTickets.length > 0) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Evento</th>
                <th scope="col">Local</th>
                <th scope="col">Qnt</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <% compiledTickets.forEach((ticket, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= ticket.event.name %></td>
                <td><%= ticket.event.monument.name %></td>
                <td><%= ticket.qnt %></td>
                <td><%= ticket.total %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <span class="badge badge-pill">
        sem bilhetes
    </span>
<% } %>